*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: var(--dark-green);
    background-color: #fff;
}
:root {
    --wine-red: #C7375F;
    --bright-red: #D42D2F;
    --dark-green: #344D2F;
    --light-green: #77A047;
    --gold: #FAC57D;
    --snow: #F0F4F7;
  }

.container{
    padding: 5em 5em;
    color: var(--snow);
    background-color: var(--bright-red);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    margin-top: 20px;
    transition: width  ease-in-out 1s;
}
.container:hover {
    width:350px;
    border-radius: 50px;
  }
.count-display{
    font-size: 100px;
    margin-bottom:10px;
}
